/* spinner.css */
.hidden {
  display: none;
}

.spinner {
  position: absolute; /* Hace que el spinner sea un elemento absoluto */
  top: 44%; /* Centra el spinner verticalmente */
  left: 47.5%; /* Centra el spinner horizontalmente */
  width: 60px;
  height: 60px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #2f5554;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  z-index: 9999; /* Asegura que el spinner esté en la parte superior de otros elementos */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
